.content-management {
    li.photo-preview,
    li.recipe-preview {
        border: 1px solid;
        display: grid;
        grid-gap: 1.5rem;
        margin-bottom: .5rem;

        &:not(.selected) {
            background-color: grey;
            border-color: black;
            grid-template-columns: 3rem 1fr;
        }
        &.selected {
            background-color: black;
            border-color: white;
            color: white;
            grid-template-columns: max-content max-content max-content 3rem 1fr;
        }
    }

    ul.photo-previews-list, ul.recipe-previews-list {
        list-style-type: none;
    }

    ul.photo-previews-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        padding-left: 0;
    }



    .ingredients-edits > label, .paragraph-edits > label {
        display: flex;
    }

    .move-item {
        &.hidden {
            visibility: hidden;
        }
    }

    .page-selector, .section-selector {
        display: flex;
    }

    .photo-picker, .recipe-picker {
        .sorting-controls {
            display: flex;
        }
    }
}
/*
.photo-picker {
    .photo-manager > & {
        // Styling for standard usage
    }
    :not(.photo-manager) > & {
        // Styling for use in outside components
    }
}
*/ 