.content-manager-sandbox {
    li.photo-info-entry {
        border: solid 1.5px;
        list-style-type: none;

        img {
            max-width: 10vw;
        }
        p > span {
            font-weight: 800;
        }
    }

    ul.all-photos-list {
        display: flex;
        margin: 15px;
        padding: 0;
    }

    .ingredients-edits > label, .paragraph-edits > label {
        display: flex;
    }

    .move-item {
        &.hidden {
            visibility: hidden;
        }
    }
}

.page-selector, .section-selector {
    display: flex;
}