.content-management {
    li.photo-info-entry {
        border: solid 1.5px;
        list-style-type: none;
        /*
        img {
            max-width: 10vw;
        }
        */
        p > span {
            font-weight: 800;
        }
    }

    li.photo-preview,
    li.recipe-preview {
        border: 1px solid;
        display: grid;
        grid-gap: 1.5rem;
        margin-bottom: .5rem;

        &:not(.selected) {
            background-color: grey;
            border-color: black;
            grid-template-columns: 3rem 1fr;
        }
        &.selected {
            background-color: black;
            border-color: white;
            color: white;
            grid-template-columns: max-content max-content max-content 3rem 1fr;
        }
    }

    ul.all-photos-list {
        display: flex;
        margin: 15px;
        padding: 0;
    }

    ul.photo-previews-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        max-width: 100%;
        padding-left: 0;
    }

    ul.recipe-previews-list {
        list-style-type: disc;
    }

    .ingredients-edits > label, .paragraph-edits > label {
        display: flex;
    }

    .move-item {
        &.hidden {
            visibility: hidden;
        }
    }

    .page-selector, .section-selector {
        display: flex;
    }

    .photo-picker, .recipe-picker {
        .sorting-controls {
            display: flex;
        }
    }
}