$navbar-logo-width: 30vw;

body {
    background-color: darkgray;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.cooking-videos {
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .video-frame {
        overflow: hidden;
        margin-bottom: 3%;
        padding-top: 56.25%;
        position: relative;
        width: 100%;
    }
}

// [NOTE][STYLE] Placeholder style
.flash {
    &-alert {
        background-color: darkred;
        color: white;
    }
    &-notice {
        background-color: lightblue;
        color: white;
    }
}

.navbar {
    background: grey;
    display: grid;
    grid-template-columns: $navbar-logo-width calc(100vw - #{$navbar-logo-width});

    &-link {
        align-self: center;
        color: white;
        font-size: 1.75vw;
        text-align: center;
        text-decoration-style: double;
    }

    &-links-section {
        display: grid;
        grid-auto-flow: column;
    }

    &-title {
        align-self: center;
        color: white;
        font-family: 'Parisienne', cursive;
        font-size: calc(#{$navbar-logo-width} / 10);
        font-weight: bold;
        text-shadow: 1px 1px 3px black;
    }
}

.versioned-photo {
    &.no-photo {
        object-fit: contain;
    }

    &.thumb {
        max-width: 128px;
        max-height: 128px;
    }
    &.small {
        max-width: 256px;
        max-height: 256px;
    }
    &.medium {
        max-width: 512px;
        max-height: 512px;
    }
}